[global]
loglevel=DEBUG
logfile=log/main.log
logconsole=True

[telethon]
loglevel=DEBUG
logfile=log/telethon.log
logconsole=False
api_id=
api_hash=
test_mode=True

[telegram]
loglevel=DEBUG
logfile=log/messages.log
logconsole=True

[proxy]
enabled=True
hostname=i.p.a.d
port=
username=
password=
