[global]
loglevel=DEBUG
logfile=/opt/teleapi/log/main.log
logconsole=True

[telethon]
loglevel=DEBUG
logfile=/opt/teleapi/log/telethon.log
logconsole=False
api_id=
api_hash=
test_mode=True

[proxy]
enabled=True
hostname=i.p.a.d
port=
username=
password=
